<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate for Good</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          Donate for a Cause
        </a>
    </nav> 
    <div class='container mt-4 p-4'>
        <div class='row shadow mt-5'>
            <div class='col-lg-6'>
                <img src="https://www.thesparksfoundationsingapore.org/images/logo_small.png" class="image_main" style="height:450px; width:400px;" >
            </div>
            <div class="col-lg-6 mt-5 p-4">
                <h3>Donate for Cancer</h3>

                <form method = "post">
                    <input class='form-control mt-3' name="name" placeholder='Name' type="text" required>

                    <input class='form-control mt-3' name="email" placeholder='Email' type="email" required>

                    <input class='form-control mt-3' name="amount" placeholder='Amount' type="number" required>

                    <button class="btn btn-success mt-4 btn-block"> Donate </button>


                </form>

            </div>

        </div>
    </div>
    
</body>
</html>